body{
    background: black;
    text-align: center;
}
#homeBody{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: url("/Images/homeBackground.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
}
.cols{
    height: 70px;
    width: 70px;
    display: inline-block;
    background: white;
    border-radius: 50px;
}
.rows{
    background: yellow;
}