html, body{
    background: black;
    text-align: center;
    padding: 0;
    margin: 0;
}
#connect4{
    height: 75vh;
    width: 75vw;
    background: blue;
    border-radius: 20px;
    border: yellow dashed 5px;
    margin-left: 15%;
    margin-top: 10%;
    padding: 0;
}

.start{
    height: 100vh;
    width: 100vw;
    /* margin: 0; */
    background: url("/Images/homeBackground.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.startButton{
    height: 100vh;
    width: 100vw;
    background: url("/Images/dotsGif.gif");
    opacity: .1;
}


.column{
    height: 80px;
    width: 80px;
    display: inline-block;
    background: white;
    border-radius: 50px;
    margin: 5px
}
/* .rows{
    background: yellow;
} */
.player1{
    background: yellow;
}
.player2{
    background: red;
}